.modal.js-modal
	.modal__in
		button.modal__close.js-modal-close(type='button')
		.modal__head Отправлено
		.modal__main
			p.modal__text Ваша заяка принята, мы перезвоним Вам в течение 15 минут.
			button.modal__ok.js-modal-close(type='button') Закрыть