header.header.js-header
	.container
		.hamburger.hamburger_spin.js-hamburger
			.hamburger__box
				.hamburger__inner
		nav.header__nav.nav.js-nav
			a.nav__link.is-active(href='#screen') Главная
			a.nav__link(href='#advantages') Преимущества
			a.nav__link(href='#comments') Отзывы
			a.nav__link(href='#delivery') Как мы работаем
			a.nav__link(href='#last') Контакты