extend includes/_layout
block title
	title LG Tone
block content
	section.screen#screen
		.screen__container.container
			.screen__inner
				.screen-logo
					.screen-logo__pic
						img.screen-logo__img(src='img/LG_logo.png', alt='LG tone')
					h2.screen-logo__text LG
					.screen-logo__subtext
						| TONE
						.screen-logo__subtext_sm стерео гарнитура
				.screen__label Bluetooth
				h1.screen__descr Cтильная, ультрасовременная стерео Bluetooth гарнитура для мобильных устройств.
			button.mouse-down.js-screen-btn(type='button')
	section.advantages
		.container
			.advantages__head
				.advantages__head-left
					img.advantages__head-img(src='img/content/advantages-0.png' alt='image')
				.advantages__head-right
					.advantages__head-top
						p.advantages__head-slogan Что выделяет уверенного в себе человека:
						p.advantages__head-el • Ухоженный вид
						p.advantages__head-el • Красивый автомобиль
						p.advantages__head-el • И стильные аксессуары
					p.advantages__head-title
						| мы знаем, <br>
						span.advantages__head-title-color что подчеркнёт
						| <br> ваш стиль
		.container#advantages
			h2.advantages__title Преимущества
			.advantages__row
				.advantages__col
					h3.advantages__sub-title Стильный и уникальный дизайн премиум-класса
					p.advantages__descr
						| Металлический оттенок гарнитуры LG Tone Infinim™ смотрится элегантно и стильно, а уникальный дизайн корпуса, позволяющий скрыть провода, гарантирует потрясающий комфорт в использовании.
				.advantages__col
					.advantages__pic
						img.advantages__img.advantages__img_1(src='img/content/advantages-1.png', alt='Стильный и уникальный дизайн премиум-класса')
			.advantages__row
				.advantages__col
					.advantages__pic
						img.advantages__img.advantages__img_2(src='img/content/advantages-2.png', alt='Сертифицированное звучание harman/kardon')
				.advantages__col
					h3.advantages__sub-title Сертифицированное звучание harman/kardon
					p.advantages__descr
						| Премиальная стереогарнитура LG с сертифицированным звучанием harman/kardon. Ради невероятного качества звука, инженеры LG в сотрудничестве с harman/kardon разработали уникальный аудио-тюнинг и акустический дизайн своей гарнитуры.
			.advantages__row
				.advantages__col
					h3.advantages__sub-title Лёгкое управление при помощи регуляторов
					p.advantages__descr
						| LG Bluetooth гарнитура Tone Infinim™ - шейная гарнитура, которая, вместо множества кнопок, оснащена всего лишь по одному регулятору на каждой стороне для максимально комфортной работы.
				.advantages__col
					.advantages__pic
						img.advantages__img.advantages__img_3(src='img/content/advantages-3.png', alt='Стильный и уникальный дизайн премиум-класса')
			.advantages__row
				.advantages__col
					.advantages__pic
						img.advantages__img.advantages__img_4(src='img/content/advantages-4.png', alt='Сертифицированное звучание harman/kardon')
				.advantages__col
					h3.advantages__sub-title Блок с магнитным<br> креплением
					p.advantages__descr
						| Наушники не потеряются, если вы решите вытащить их из ужешей… удобно за рулем, при<br> занятии спортом, на работе.<br> Основную часть гарнитуру можно спрятать под одеждой.
			.advantages__row
				.advantages__col
					h3.advantages__sub-title Прямой вызов
					p.advantages__descr
						| При помощи LG Bluetooth гарнитуры Tone Infinim™ можно мгновенно связаться с последним звонившим контактом без необходимости вынимать смартфон.
					.advantages__hint * Дважды нажмите кнопку вызова на гарнитуре.
				.advantages__col
					.advantages__pic
						img.advantages__img.advantages__img_5(src='img/content/advantages-5.png', alt='Стильный и уникальный дизайн премиум-класса')
			.advantages__row
				.advantages__col
					.advantages__pic
						img.advantages__img.advantages__img_6(src='img/content/advantages-6.png', alt='Сертифицированное звучание harman/kardon')
				.advantages__col
					h3.advantages__sub-title Индикатор заряда
					p.advantages__descr Индикатор заряда батареи гарнитуры отображается на дисплее смартфона.
					p.advantages__hint * Функция работает только с LG G3
					p.advantages__hint * Пятиуровневый индикатор заряда отображается в левом верхнем углу дисплея.
	section.spec
		.container
			h2.spec__title Общие характеристики
			.spec__col
				.spec__inner
					.spec__row
						.spec__row
							.spec__name Размеры (Ш×В×Т, мм)
							.spec__dot
							.spec__definition 155 x 17 x 15
						.spec__row
							.spec__name Вес (гр.)
							.spec__dot
							.spec__definition 54
						.spec__row
							.spec__name Батарея (мАч)
							.spec__dot
							.spec__definition 220
						.spec__row
							.spec__name Время в режиме ожидания (ч)
							.spec__dot
							.spec__definition 550
						.spec__row
							.spec__name Время в режиме разговора (ч)
							.spec__dot
							.spec__definition 17
						.spec__row
							.spec__name Время в режиме прослушивания музыки (ч)
							.spec__dot
							.spec__definition 14
						.spec__row
							.spec__name Время зарядки (ч)
							.spec__dot
							.spec__definition 2
					.spec__add
						.spec__add_first Дополнительно:
						|  голосовые оповещения, вибросигнал, автоматическое соединение с ранее подключенными устройствами, легкое управление
	section.comments#comments
		.container
			h2.comments__title Отзывы пользователей
			.comments__table.js-comments
				.comments__row
					.comments__col
						p.comments__name Евгений
						p.comments__date 7 месяцев назад
					.comments__col
						p.comments__el.comments__el_minus Пользуюсь полгода наушниками. Скажем так, качество блютуз соединения оставляет желать лучшего!
						p.comments__el.comments__el_plus Беспроводные, легкие, неплохо сидят, качество звучания тоже не плохое
						p.comments__el.comments__el_minus Блютуз соединение то ли в мороз, то ли из-за тёплой одежды ужасное
				.comments__row
					.comments__col
						p.comments__name Евгений
						p.comments__date 7 месяцев назад
					.comments__col
						p.comments__el.comments__el_minus Пользуюсь полгода наушниками. Скажем так, качество блютуз соединения оставляет желать лучшего!
						p.comments__el.comments__el_plus Беспроводные, легкие, неплохо сидят, качество звучания тоже не плохое
						p.comments__el.comments__el_minus Блютуз соединение то ли в мороз, то ли из-за тёплой одежды ужасное
				.comments__row
					.comments__col
						p.comments__name Евгений
						p.comments__date 7 месяцев назад
					.comments__col
						p.comments__el.comments__el_minus Пользуюсь полгода наушниками. Скажем так, качество блютуз соединения оставляет желать лучшего!
						p.comments__el.comments__el_plus Беспроводные, легкие, неплохо сидят, качество звучания тоже не плохое
						p.comments__el.comments__el_minus Блютуз соединение то ли в мороз, то ли из-за тёплой одежды ужасное
			.text-center
				a.comments__more-btn.js-comments-btn(href='#') показать еще

	section.delivery#delivery
		.delivery__container.container
			h2.delivery__title
				| Доставка&nbsp;
				span.delivery__title-color и оплата
			.delivery__list
				.delivery__list-item
					p.delivery__list-title Доставка по всей стране
					p.delivery__list-subtitle Доставка осуществляется во все города первым классом.
				.delivery__list-item
					p.delivery__list-title Срок доставки
					p.delivery__list-subtitle 3-7 дней в зависимости от удаленности.
				.delivery__list-item
					p.delivery__list-title Стоимость доставки в ваш город сообщит менеджер при оформлении заказа.
				.delivery__list-item
					p.delivery__list-title Оплата товара производится при получении.

	section.last#last
		.last__container.container
			.screen-logo
				.screen-logo__pic
					img.screen-logo__img(src='img/LG_logo.png', alt='LG tone')
				h2.screen-logo__text LG
				h3.screen-logo__subtext.screen-logo__subtext_footer
					| TONE
			.last__logo-label
				| стерео&nbsp;
				span.last__logo-label-color Bluetooth&nbsp;
				| гарнитура
			p.last__logo-desc Cтильная, ультрасовременная стерео Bluetooth гарнитура для мобильных устройств.
			p.last__action
				| Успейте заказать гарнитуру со скидкой -50%&nbsp;
				span.last__action-mod ОСТалось 24 часа!
			.last__counter.counter.js-counter
			.counter-text
				.counter-text__col часы
				.counter-text__col минуты
				.counter-text__col секунды
			.last__price.price
				.price__old Цена:&nbsp;
					span.price__old-number 5 000 р
				.price__new 2 500 р
			form.last__form.form.js-form(action='#')
				.form__field
					input.form__input(type='text' placeholder='ИМЯ' name='user_name' data-validation='required' data-validation-error-msg='Необходимо указать свое имя')
				.form__field
					input.form__input.js-phone-mask(type='text' placeholder='ТЕЛЕФОН' name='user_phone' data-validation='required' data-validation-error-msg='Необходимо указать свой телефон')
				.form__field
					button.form__submit(type='submit') оставить заявку
